# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# =========================
# Virtual Environment
# =========================
venv/
env/
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs & temp
# =========================
logs/
*.log
tmp/
temp/

# =========================
# Data (VERY IMPORTANT)
# =========================
data/
dataset/
artifacts/
*.h5
*.pt
*.pth

# =========================
# DVC
# =========================
.dvc/cache/

# =========================
# MLflow
# =========================
mlruns/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Secrets
# =========================
.env
*.env
